body {
  width: 500px;
  height: 120px;
  margin: 10px;
}

.NewBookmarkForm {
  :global {
    .url {
      margin-bottom: 10px;
    }

    .ant-select {
      width: 100%;
      margin-bottom: 10px;
    }

    .algolia-logo {
      position: relative;

      img {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1em;
      }
    }
  }
}
