body {
  width: 500px;
  height: 120px;
  margin: 10px;
}

.NewBookmarkForm {
  :global {
    .url {
      margin-bottom: 10px;
    }
    .ant-select {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
